body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background: rgb(26, 51, 122);
}
.add-button {
  display: flex !important;
  justify-content: space-between!important;
  align-items: center !important;
  color: rgb(30, 30, 133);
  /* width: 20px !important; */
  height: 40px;
  /* padding: 30px; */
  padding-bottom: 2rem;
}
.editBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1976d2;
}
.text-field-modal {
  margin-top: 2rem;
  display: flex;
align-items: center;
justify-content: space-between;
  color: rgb(30, 30, 133);

}

#outlined-basic:focus {
  border-color: transparent
  
}
.modal-addBtn {
  width: 20%;
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.modal-button-div {
  display: flex;
  justify-content: end;
}
.DelBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}